.example-spacer {
  flex: 1 1 auto;
}

[mat-icon-button] {
  margin-right: 20px;
}

mat-toolbar {
  padding-left: 40px;
  padding-right: 40px;
  min-height: 80px;
  margin-bottom: 20px;
  justify-content: space-between;
}

mat-nav-list {
  display: flex;
  gap: 30px;
}

[mat-list-item] {
  border: none;
  width: 100px;
}

.container {
  display: flex;
  gap: 20px;
}

a[mat-list-item] {
  width: auto;
  padding: 0;
  cursor: pointer;
}

button {
  cursor: pointer;
  min-width: 40px;
  padding: 0;
}

a > button > mat-icon {
  cursor: pointer;
}

.active-menu {
  background-color: rgba(0, 0, 0, 0.3);
}
