<mat-toolbar>
  <div class="container">
    <a mat-list-item routerLink="/" routerLinkActive="active" (click)="onHome()">
      <button><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></button>
    </a>
    <span>Intercode blog</span>
  </div>
  <!-- <span class="example-spacer"></span> -->
  <mat-nav-list [ngStyle]="{ 'visibility': (isVisibleMenu$ | async) ? 'visible': 'hidden', }" role="navigation">
    <button
      *ngFor="let item of menu"
      [ngClass]="{ 'active-menu': item === selectedItem }"
      (click)="onSelect(item)"
      (click)="onPickTopic($event)"
      mat-list-item
    >
      {{ item }}
    </button>
  </mat-nav-list>

  <a mat-list-item routerLink="/new">
    <button>
      <mat-icon class="example-icon" aria-label="Example icon-button with share icon">add</mat-icon>
    </button>
  </a>
</mat-toolbar>
