:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
  gap: 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

mat-paginator {
  display: flex;
  justify-content: center;
}

mat-error {
  background-color: #ffebee;
  min-height: 40px;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

app-side-filters {
  display: flex;
  justify-content: center;
  width: 100%;
}

mat-spinner {
  margin: auto;
}
