<mat-spinner *ngIf="isFetching$ | async; else matCard"></mat-spinner>
<ng-template #matCard>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ post.title | titlecase }}</mat-card-title>
        <button (click)="routeToEditMode()" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <mat-card-subtitle>{{ post.topic }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <!-- <img class="picture" [alt]="post.title" [src]="post.picture[0] || post.picture" /> -->
    <div class="slider-wrapper" style="width: 300px; height: 500px">
      <app-picture-slider [slides]="slides"></app-picture-slider>
    </div>
    <mat-card-content>
      {{ post.content }}
    </mat-card-content>
  </mat-card>
</ng-template>
