<mat-spinner *ngIf="isFetching$ | async; else matCard"></mat-spinner>
<ng-template #matCard>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ post.title | titlecase }}</mat-card-title>
        <button class="edit-button" (click)="routeToEditMode()" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <mat-card-subtitle>{{ post.topic }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <div class="slider-wrapper" style="width: 300px; height: 500px">
      <app-picture-slider [slides]="slides"></app-picture-slider>
    </div>
    <mat-card-content>
      {{ post.content }}
    </mat-card-content>
  </mat-card>
  <app-comment
    *ngFor="let comment of comments$ | async"
    [comment]="comment"
    (commentEdited)="onEditComment($event)"
    (commentDeleted)="onDeleteComment($event)"
  ></app-comment>

  <form class="example-form" [formGroup]="creationCommentForm" (ngSubmit)="onCreateComment()">
    <mat-form-field class="example-full-width">
      <mat-label>Enter a name</mat-label>
      <input formControlName="author" matInput placeholder="Name" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea formControlName="content" matInput placeholder="Comment"></textarea>
    </mat-form-field>

    <button class="custom-button">{{ editMode ? 'Edit' : 'Submit' }}</button>
  </form>
</ng-template>

<!-- style="position: static; width: 50vw; margin-bottom: 30px" -->
